{{ember-ace 
    lines=20 
    useSoftTabs=true
    tabSize=4
    showPrintMargin=false
    theme="ace/theme/monokai" 
    mode="ace/mode/javascript"
    value=this.args.editorValue
    update=(action "onEditorUpdated")
}}
<div class='scene-container'>
    <Scene 
        @onSceneInsert={{action this.onSceneInsert}}
    as |parent|>
        {{yield parent}}
    </Scene>
</div>