<div class="relative px-4 sm:px-6 lg:px-8">
    <Heading @title='Fundamentals of Realtime Rendering' @subtitle='A guide for beginners'>
        This site aims to be a treasure trove of 3D graphics programming knowledge. It is geared towards beginners with an emphasis
        on providing interactive tutorials to build intuition. These tutorials were developed to help you learn by seeing and doing.
    </Heading>
    <ProseMarkdown>
        My journey into 3D graphics programming was a long and hard one. I can comfortably say I'm proficient at it now but it required 20+ years to get to where I am now. Don't mistake
        those 20+ years as actual experience. My time on this subject was rot with challenges and frustration. When I started, knowledge on the subject wasn't widely available.
        For sure the information was out there, but it was fractured and nothing was immediately available online as it is today. Books and academic papers were really the only source on the matter.
        To make matters worse, those books were often written in an alien language.

        Today, it's hard not to find a massive catalogue of information on graphics programming. With resources like the [Realtime Rendering Book](http://www.realtimerendering.com) and
        [Learning OpenGL](http://learnopengl.com), this is the perfect time to learn. 3D applications are ubiquitous. We can find them in everything from games, simulations, drafting,
        and even the web. Gamers are constantly fed with new emerging tech each year, while marketplaces are inundated with indie titles from developers like us.

        However, even with all these resources, I can't help shake the feeling that we're missing something. **Learning new things is a pain in the butt!** The topics discussed in graphics normally require
        we visualize it to understand it. On top of that, coding is better learned by actually writing code.

        I developed this site with the goal of giving the past me the learning experience I would have wanted. I am someone that can't instantly learn something by staring at an equation.
        Someone who reads the same book 10 times over to gain any insights. Someone traditional graphics textbooks weren't meant for. In other words, I'm normal just like many of you entering this field.

        ## How to Use this Site

        This site is geared towards beginners. It's not another **"Getting Started in** *(__insert framework__)*" series. I strongly believe that to become good at anything, mastering the fundamentals
        is key. While this site focuses on using **THREE.js** examples, the knowledge you learn here can be applied to any framework and any language.

        For the more advance user, I hope you're able to find a home here. I think that in due time, this site will have enough info to be used as a bible of sorts. If not, then stay for the cool
        interactive examples, or bookmark it to use it as a teaching aid for your juniors.

        Many figures on this site will be interactive. If the figure has controls enabled, you'll be able to manipulate the objects on the fly. If it has accompanying code, expanding to
        fullscreen will open up the editor where you can make changes live and watch the scene reload with your changes. All examples are written in **Javascript** with **THREE.js** to run **WebGL**. What better
        way to learn then to go straight to coding instantly while you're simultaneously reading up on the theory.

        The examples were meant to illustrate concepts that are hard to say into words. You don't need to know Javascript to play with the examples but I leave it there for you to experiment.
        Some of my tutorials will cover **GLSL** for writing shaders. I assume most of my readers are programmers and the amount of **Javascript** you'll encounter shouldn't
        leave you blindsided. **THREE.js** was chosen because it abstracts some low-level details of WebGL away while being lightweight and without being too overly opinionated.

        As of this writing, the site is in its infancy. Stay tuned for more updates.
    </ProseMarkdown>
</div>