<div class="text-lg max-w-prose mx-auto">
    <h1>
        <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-white sm:text-4xl">{{@title}}</span>
        <span class="block text-base text-center text-indigo-300 font-semibold tracking-wide uppercase">{{@subtitle}}</span>
    </h1>
    <p class="mt-8 text-xl text-gray-100 leading-8">
        {{yield}}
    </p>
</div>