.demo-viewer.fullscreen {
  background-color: #181818;
}

.demo-viewer .scene canvas {
  border-radius: 0.5rem;
}

.demo-viewer .scene-controls {
  opacity: 0;
  animation: fade-out linear 0.2s;
  pointer-events: none;
}

.demo-viewer.fullscreen .scene-container {
  border-radius: 0.5rem;
}

.demo-viewer .scene-container:hover .scene-controls {
  animation: fade-in linear 0.2s;
  opacity: 1;
}

.demo-editor, .demo-editor pre {
  height: 100%;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.control {
  pointer-events: auto;
}

.dg.main {
  pointer-events: auto;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}